.siteCard {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    width: calc(90% * (1/4));
    background-color: var(--cadet-blue-crayola);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

.siteWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 7rem;
    position: fixed;
    top: 0;
    left: 75px;
    right: 75px;
    flex-wrap: wrap;
}

.addBtn {
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.addBtn button {
margin-left: auto;
margin-right: auto;
}